:root {
	font-family: 'Noto Sans Variable', system-ui;
	--secundary-color: #f6d0d9;
	--primary-color: #fff;
	--subject-one-color: #f4b3a4;
	--subject-two-color: #f7a6b6;
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	background-color: var(--secundary-color);
}

header {
	padding: 5px;
	padding-top: 1em;
	padding-bottom: 1.5em;
	background-color: var(--secundary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em 0;

	.top-header {
		display: flex;
		gap: 8.5em;
	}
}

#sw-time {
	font-size: 1.5em;
	font-weight: 700;
}

main {
	padding-top: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 100vh;
	border-radius: 15px;
}

footer {
	position: fixed;
	background-color: ghostwhite;
	bottom: 0;
	left: 20%;
	right: 20%;
	height: 2.5em;
	width: max-content;
	border-radius: 15px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 0.5px solid gainsboro;
	display: flex;
	justify-content: center;
	justify-self: center;
	gap: 0.5em;
	padding-inline: 2em;
	padding-top: 10px;
}

footer {

	* {
		height: fit-content;
		border: 1px solid gray;
		border-radius: 5px;
	}

	select {
		height: 1.5em;
	}
}
